<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Compresor de imagenes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Sube una imagen jpg</h1>
        <form action="/comprimido" method='POST' enctype='multipart/form-data'>
            <label> Imagen:<input type='file' name= "file"> <br><br> </label>
            <button type="submit" name="boton">Subir imagen</button>
        </form>
    </body>
</html>
