<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ERROR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> La página a la que intenta dirigirse no se encuentra disponible, perdone las molestias </h1>
       <!-- <ul>
        <li>status: <c:out value="${request.status}" /></li>
        <li>error: <c:out value="${request.error}" /></li>
        <li>message: <c:out value="${request.message}" /></li>
        <li>path: <c:out value="${request.path}" /></li>
        <li>trace: <c:out value="${request.trace}" /></li>
        </ul> -->
    </body>
</html>
